In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
stack=pd.read_csv('D:\\PGP IN DATA SCIENCE with Careerera\\Files\\stackoverflow-survey_results_public.csv')

In [3]:
stack

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [4]:
stack_schema=pd.read_csv('D:\\PGP IN DATA SCIENCE with Careerera\\Files\\survey_results_schema.csv')

In [5]:
stack_schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [6]:
pd.options.display.max_columns=80

In [7]:
stack.head(3)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [8]:
stack.shape

(83439, 48)

In [9]:
stack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [10]:
stack.set_index('ResponseId').head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [11]:
stack['Employment'].nunique()

9

In [12]:
stack['Employment'].unique()

array(['Independent contractor, freelancer, or self-employed',
       'Student, full-time', 'Employed full-time', 'Student, part-time',
       'I prefer not to say', 'Employed part-time',
       'Not employed, but looking for work', 'Retired',
       'Not employed, and not looking for work', nan], dtype=object)

In [13]:
stack.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [14]:
stack_schema['Column']

0             Respondent
1             MainBranch
2               Hobbyist
3                    Age
4             Age1stCode
             ...
56    WebframeWorkedWith
57         WelcomeChange
58           WorkWeekHrs
59             YearsCode
60          YearsCodePro
Name: Column, Length: 61, dtype: object

In [15]:
stack_schema.set_index('Column')

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [16]:
stack_schema.iloc[2,1]

'Do you code as a hobby?'

In [17]:
stack.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [18]:
stack.describe(include='O')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase
count,83439,83323,83439,14920,4418,83126,83243,82963,81641,61216,66484,60726,61080,52150,82357,76821,69546,58299,52135,41619,61707,52095,47055,38021,72537,65480,81234,73022,83294,83052,83171,82413,82525,67553,82319,82828,82407,82286,80678,73366,79464,77603,76920,81711,81948
unique,6,9,181,55,4,9,9,458,52,52,8626,10,146,3,28690,27545,3072,3137,118,126,5402,5113,1387,1684,902,1403,12100,7026,6,1279,8,5,3,6,6,2,8,16,4,30,372,31,33,3,3
top,I am a developer by profession,Employed full-time,United States of America,California,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,5,3,"Developer, full-stack",20 to 99 employees,USD\tUnited States dollar,Yearly,Python,Python,MySQL,PostgreSQL,AWS,AWS,React.js,React.js,.NET Framework;.NET Core / .NET 5,.NET Core / .NET 5,Git,Git,Visual Studio Code,Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy
freq,58153,53584,15288,2163,3915,35357,44170,7242,6190,5812,8601,12507,14363,25767,1337,1389,4777,4200,11454,8744,3383,3698,7554,4354,24520,15368,6700,9409,37758,5094,54658,25262,67813,30778,23584,53364,32568,74817,77275,61094,42671,72725,56459,64514,63087

In [19]:
stack.Gender.unique()

array(['Man', 'Prefer not to say', 'Woman',
       'Non-binary, genderqueer, or gender non-conforming',
       'Man;Or, in your own words:', nan,
       'Woman;Non-binary, genderqueer, or gender non-conforming',
       'Man;Non-binary, genderqueer, or gender non-conforming',
       'Or, in your own words:', 'Man;Woman',
       'Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
       'Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
       'Woman;Or, in your own words:',
       'Man;Woman;Non-binary, genderqueer, or gender non-conforming',
       'Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
       'Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
       'Man;Woman;Or, in your own words:'], dtype=object)

In [55]:
stack.value_counts('US_State')

US_State
California                              2163
Texas                                   1023
New York                                 961
Washington                               932
Massachusetts                            624
Florida                                  613
Illinois                                 587
Colorado                                 549
Pennsylvania                             499
Virginia                                 453
Ohio                                     448
Utah                                     415
North Carolina                           403
Michigan                                 381
Oregon                                   375
Minnesota                                359
Georgia                                  356
Maryland                                 350
New Jersey                               347
Wisconsin                                266
Arizona                                  261
Missouri                                 230
Indiana                                  208
Tennessee                                203
Connecticut                              128
Iowa                                     127
Idaho                                    121
Kansas                                   119
South Carolina                           117
Alabama                                  116
Kentucky                                 111
Nebraska                                 103
New Hampshire                             92
Oklahoma                                  86
New Mexico                                83
District of Columbia                      81
Nevada                                    78
Louisiana                                 70
Arkansas                                  64
Vermont                                   60
Maine                                     56
Rhode Island                              40
South Dakota                              36
Montana                                   35
Hawaii                                    33
Puerto Rico                               26
Mississippi                               24
North Dakota                              23
West Virginia                             22
Alaska                                    21
Delaware                                  21
Wyoming                                   11
I do not reside in the United States       8
Guam                                       1
American Samoa                             1
dtype: int64

In [20]:
male=stack[stack['Gender']=='Man']

In [21]:
male.head(3)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [22]:
male.set_index('Gender').head(3)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
Gender,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Man,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
Man,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
Man,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [ ]:
## sample data

In [37]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [31]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [38]:
df=pd.DataFrame(people)

In [39]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df['first']

0    Corey
1     Jane
2     John
Name: first, dtype: object

In [7]:
df[['first','last']]

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [8]:
df.iloc[0,1]

'Schafer'

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df.iloc[1,0]

'Jane'

In [14]:
df.iloc[0:3,0:1]

   first
0  Corey
1   Jane
2   John

In [34]:
a=df.iloc[1,0:2]='suraj','honkamble'

In [35]:
df

   first       last                    email
0  Corey    Schafer  CoreyMSchafer@gmail.com
1  suraj  honkamble        JaneDoe@email.com
2   John        Doe        JohnDoe@email.com

In [42]:
df.set_index('email', inplace=True)

In [43]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [44]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [47]:
df.reset_index(inplace=True)

In [48]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [77]:
filt=df[df['last']=='Doe']

In [78]:
filt

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [79]:
filt1=df[(df['first']=='John') & (df['last']=='Doe')]

In [81]:
filt1

               email first last
2  JohnDoe@email.com  John  Doe

In [113]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [116]:
df.rename({'first':'FIRST','last':'LAST','email':'E-mail'}, axis=1, inplace=True)

In [117]:
df

                    E-mail  FIRST     LAST
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [120]:
df.loc[1]='Suraj'

In [123]:
df

                    E-mail  FIRST     LAST      1
0  CoreyMSchafer@gmail.com  Corey  Schafer    NaN
1                    Suraj  Suraj    Suraj  Suraj
2        JohnDoe@email.com   John      Doe    NaN

In [126]:
df.rename({1:'full name'},axis=1, inplace=True)

In [129]:
df.rename({'full name':1},axis=0, inplace=True)

In [130]:
df

                    E-mail  FIRST     LAST full name
0  CoreyMSchafer@gmail.com  Corey  Schafer       NaN
1                    Suraj  Suraj    Suraj     Suraj
2        JohnDoe@email.com   John      Doe       NaN

In [132]:
df.loc[0,'full name']='CS'

In [133]:
df

                    E-mail  FIRST     LAST full name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS
1                    Suraj  Suraj    Suraj     Suraj
2        JohnDoe@email.com   John      Doe       NaN

In [136]:
df.loc[1,'E-mail']='surajh@gmail.com'

In [138]:
df.at[1,'LAST']='h'

In [140]:
df.at[2,'full name']='JD'

In [141]:
df

                    E-mail  FIRST     LAST full name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS
1         surajh@gmail.com  Suraj        h     Suraj
2        JohnDoe@email.com   John      Doe        JD

In [142]:
df.at[1,'full name']='SH'

In [143]:
df

                    E-mail  FIRST     LAST full name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS
1         surajh@gmail.com  Suraj        h        SH
2        JohnDoe@email.com   John      Doe        JD

In [148]:
df['full Name']=df['FIRST']+ ' ' +df['LAST']

In [152]:
df

                    E-mail  FIRST     LAST full name      full Name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS  Corey Schafer
1         surajh@gmail.com  Suraj        h        SH        Suraj h
2        JohnDoe@email.com   John      Doe        JD       John Doe

In [154]:
df

                    E-mail  FIRST     LAST full name      full Name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS  Corey Schafer
1         surajh@gmail.com  Suraj        h        SH        Suraj h
2        JohnDoe@email.com   John      Doe        JD       John Doe

In [155]:
df

                    E-mail  FIRST     LAST full name      full Name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS  Corey Schafer
1         surajh@gmail.com  Suraj        h        SH        Suraj h
2        JohnDoe@email.com   John      Doe        JD       John Doe

In [157]:
df.append({'E-mail':'ramujadhav@gmail.com','FIRST':'Ramu','LAST':'Jadhav','full name':'RJ','full Name':'Ramu Jadhav'}, ignore_index='True' )

                    E-mail  FIRST     LAST full name      full Name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS  Corey Schafer
1         surajh@gmail.com  Suraj        h        SH        Suraj h
2        JohnDoe@email.com   John      Doe        JD       John Doe
3     ramujadhav@gmail.com   Ramu   Jadhav        RJ    Ramu Jadhav

In [159]:
df.append({'First':'Suman'},ignore_index=True)

                    E-mail  FIRST     LAST full name      full Name  First
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS  Corey Schafer    NaN
1         surajh@gmail.com  Suraj        h        SH        Suraj h    NaN
2        JohnDoe@email.com   John      Doe        JD       John Doe    NaN
3                      NaN    NaN      NaN       NaN            NaN  Suman

In [161]:
df.sort_values(by='full Name')

                    E-mail  FIRST     LAST full name      full Name
0  CoreyMSchafer@gmail.com  Corey  Schafer        CS  Corey Schafer
2        JohnDoe@email.com   John      Doe        JD       John Doe
1         surajh@gmail.com  Suraj        h        SH        Suraj h

In [20]:
stack

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [24]:
stack.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [25]:
stack['Age']

0        25-34 years old
1        18-24 years old
2        18-24 years old
3        35-44 years old
4        25-34 years old
              ...
83434    25-34 years old
83435    18-24 years old
83436    25-34 years old
83437    25-34 years old
83438    18-24 years old
Name: Age, Length: 83439, dtype: object

In [29]:
stack.loc[0:4,'Age':'Sexuality']

               Age Gender Trans                Sexuality
0  25-34 years old    Man    No  Straight / Heterosexual
1  18-24 years old    Man    No  Straight / Heterosexual
2  18-24 years old    Man    No        Prefer not to say
3  35-44 years old    Man    No  Straight / Heterosexual
4  25-34 years old    Man    No                      NaN

In [51]:
stack.set_index('ResponseId', inplace=True)

In [52]:
stack

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [66]:
stack_schema.set_index('Column', inplace=True)

In [68]:
stack_schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [73]:
stack_schema.sort_index(inplace=True)

In [74]:
stack_schema

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [60]:
stack_schema.loc['Hobbyist','QuestionText']

'Do you code as a hobby?'

In [61]:
stack.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [82]:
stack['SOAccount']

ResponseId
1        Yes
2        Yes
3        Yes
4        Yes
5        Yes
        ...
83435     No
83436    Yes
83437    Yes
83438    Yes
83439    Yes
Name: SOAccount, Length: 83439, dtype: object

In [84]:
trans=stack[stack['Trans']=='Yes']

In [85]:
trans

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
60,I am a developer by profession,"Student, full-time",India,NaN,NaN,Something else,5 - 10 years,"Other online resources (ex: videos, blogs, etc)",2,NaN,...,Under 18 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Straight / Heterosexual;Bisexual;Gay or Lesbia...,East Asian,I am deaf / hard of hearing;I am blind / have ...,None of the above,Too short,Easy,NaN
97,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Other (please specify):,10,Less than 1 year,...,18-24 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Bisexual;Queer,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,518868.0
172,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,25-34 years old,Prefer not to say,Yes,Queer,Multiracial;Black or of African descent,None of the above,None of the above,Too long,Difficult,25944.0
340,I code primarily as a hobby,"Not employed, and not looking for work",Austria,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Friend or family member,6,NaN,...,18-24 years old,Man,Yes,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
342,I code primarily as a hobby,Retired,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",45 - 54 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,55-64 years old,Prefer not to say,Yes,Prefer not to say,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83050,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,10,...,25-34 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Gay or Lesbian;Queer,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,NaN
83110,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,Michigan,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,Less than 1 year,...,35-44 years old,Woman,Yes,Bisexual,"Or, in your own words:",None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,NaN
83232,I am a developer by profession,Employed full-time,United States of America,Colorado,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",5 - 10 years,Online Forum;Other (please specify):;Books / P...,25,4,...,25-34 years old,Man,Yes,Straight / Heterosexual,White or of European descent,I am unable to / find it difficult to type,None of the above,Too short,Easy,400000.0
83361,I am a student who is learning to code,"Independent contractor, freelancer, or self-em...",Thailand,NaN,NaN,"Secondary school (e.g. American high school, G...",35 - 44 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,...,35-44 years old,Man,Yes,Prefer to self-describe:,East Asian,I am deaf / hard of hearing;I am blind / have ...,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,...,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN

In [90]:
stack['LanguageHaveWorkedWith']

ResponseId
1        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
2                                    JavaScript;Python
3                             Assembly;C;Python;R;Rust
4                                JavaScript;TypeScript
5                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83435                               Clojure;Kotlin;SQL
83436                                              NaN
83437                               Groovy;Java;Python
83438             Bash/Shell;JavaScript;Node.js;Python
83439           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [96]:
filt2=stack[stack['LanguageHaveWorkedWith'].str.contains('Python',na=False)]

In [97]:
filt2

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,...,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,...,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83432,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Pakistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,4,...,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,11676.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0

In [106]:
china=trans[trans['Country']=='China']

In [107]:
china

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
10279,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,Books / Physical media,NaN,NaN,...,25-34 years old,Man,Yes,Bisexual,I don't know;Biracial,I am unable to / find it difficult to type,I have an anxiety disorder,Too short,Easy,NaN
11128,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School;Colleague;Books / Physical media,NaN,NaN,...,25-34 years old,Man,Yes,Prefer not to say,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
15164,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,5,1,...,35-44 years old,Woman,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,2.0
16935,I am a developer by profession,Employed full-time,China,NaN,NaN,Some college/university study without earning ...,45 - 54 years,Coding Bootcamp;Other online resources (ex: vi...,25,25,...,45-54 years old,Man,Yes,Prefer not to say,East Asian,Prefer not to say,Prefer not to say,Too short,Neither easy nor difficult,65160.0
16963,I am a student who is learning to code,"Student, full-time",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",4,NaN,...,18-24 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Prefer not to say,East Asian,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,NaN
17929,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Forum;Books / Physical media,7,1,...,18-24 years old,Man,Yes,Straight / Heterosexual;Bisexual,East Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,48864.0
18859,I am a student who is learning to code,"Student, part-time",China,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Online Forum;Online Courses or Certification;B...,3,NaN,...,18-24 years old,Man,Yes,Bisexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,NaN
19070,I code primarily as a hobby,"Not employed, but looking for work",China,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc)",8,NaN,...,18-24 years old,"Woman;Non-binary, genderqueer, or gender non-c...",Yes,Bisexual;Queer,East Asian,I am unable to / find it difficult to type;I a...,NaN,Too short,Easy,NaN
19105,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,11 - 17 years,Books / Physical media,NaN,NaN,...,25-34 years old,Man,Yes,Bisexual,East Asian,NaN,NaN,NaN,NaN,NaN
22102,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",13,2,...,18-24 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Gay or Lesbian,East Asian,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,35723.0
22280,I am a developer by profession,Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",8,2,...,25-34 years old,Man,Yes,Straight / Heterosexual,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
22395,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Coding Bootcamp;School;Online Courses or Certi...,3,4,...,18-24 years old,Man,Yes,Straight / Heterosexual,East Asian,None of the above,Prefer not to say,Appropriate in length,Neither easy nor difficult,NaN
23050,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,Less than 1 year,...,18-24 years old,Woman,Yes,Straight / Heterosexual,East Asian,None of the above,I have a mood or emotional disorder (e.g. depr...,Too long,Neither easy nor difficult,17148.0
23641,"I am not primarily a developer, but I write co...","Student, full-time",China,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,NaN,...,18-24 years old,Woman,Yes,Gay or Lesbian,East Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
23656,I am a student who is learning to code,"Independent contractor, freelancer, or self-em...",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School;Online Forum,9,NaN,...,NaN,Woman,Yes,Prefer to self-describe:,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
23786,I am a student who is learning to code,"Not employed, but looking for work",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",5,NaN,...,18-24 years old,Man,Yes,Straight / Heterosexual,NaN,None of the above,NaN,Appropriate in length,Easy,NaN
24639,I am a developer by profession,Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",3,2,...,18-24 years old,Woman,Yes,Straight / Heterosexual,NaN,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
27574,I am a developer by profession,Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Friend or family member,8,3,...,25-34 years old,Man,Yes,Straight / Heterosexual,"Indigenous (such as Native American, Pacific I...",NaN,I have an anxiety disorder,NaN,NaN,NaN
30745,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,School;Online Courses or Certification;Colleague,10,4,...,25-34 years old,Man,Yes,Prefer not to say,East Asian,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,NaN
30846,I am a developer by profession,Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",5 - 10 years,Online Forum,7,3,...,25-34 years old,Man,Yes,NaN,East Asian,I am deaf / hard of hearing;I am unable to / f...,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,NaN
34932,I am a developer by profession,Employed full-time,China,NaN,NaN,"Professional degree (JD, MD, etc.)",25 - 34 years,Coding Bootcamp;Online Courses or Certificatio...,5,Less than 1 year,...,25-34 years old,Man,Yes,Prefer not to say,East Asian,Prefer not to say,Prefer not to say,Too long,Neither easy nor difficult,NaN
39895,I am a developer by profession,Employed part-time,China,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",5,Less than 1 year,...,Under 18 years old,Woman,Yes,Bisexual,East Asian,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,6000.0
41275,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,3,3,...,Under 18 years old,Man,Yes,NaN,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,NaN,NaN
41516,I am a developer by profession,Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Courses or Certification,7,NaN,...,25-34 years old,Man,Yes,Gay or Lesbian,I don't know,I am blind / have difficulty seeing,I have a mood or emotional disorder (e.g. depr...,Too short,NaN,NaN
41868,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,18 - 24 years,Books / Physical media,2,2,...,18-24 years old,Man,Yes,Prefer not to say,East Asian,I am unable to / find it difficult to type,None of the above,Appropriate in length,Easy,NaN
44472,I am a student who is learning to code,"Student, part-time",China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",Younger than 5 years,Coding Bootcamp;School;Online Courses or Certi...,1,NaN,...,18-24 years old,Man,Yes,Prefer not to say,Prefer not to say,None of the above,Prefer not to say,Appropriate in length,Neither easy nor difficult,NaN
44495,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,18 - 24 years,Coding Bootcamp;Friend or family member;Collea...,15,10,...,35-44 years old,Man,Yes,Gay or Lesbian,South Asian,I am deaf / hard of hearing;I am blind / have ...,I have a concentration and/or memory disorder ...,Too short,NaN,NaN
47914,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",14,10,...,25-34 years old,Man,Yes,Straight / Heterosexual,I don't know;East Asian,I am deaf / hard of hearing;I am unable to / f...,I have autism / an autism spectrum disorder (e...,Too short,Difficult,NaN
47920,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;School;Online Forum;Online Cou...,10,8,...,25-34 years old,Man,Yes,Straight / Heterosexual,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,428676.0
48251,I am a developer by profession,Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",5 - 10 years,Coding Bootcamp;Other online resources (ex: vi...,10,Less than 1 year,...,25-34 years old,Prefer not to say,Yes,Straight / Heterosexual;Gay or Lesbian;Queer,White or of European descent;I don't know;Mult...,I am deaf / hard of hearing;I am blind / have ...,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
49201,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,1,...,18-24 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Queer,East Asian,None of the above,NaN,Appropriate in length,Neither easy nor difficult,13716.0
49318,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,11 - 17 years,Coding Bootcamp;Books / Physical media,15,5,...,35-44 years old,Man,Yes,Bisexual,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,51444.0
53331,I am a developer by profession,Employed full-time,China,NaN,NaN,"Professional degree (JD, MD, etc.)",18 - 24 years,Colleague,13,10,...,25-34 years old,Man,Yes,Bisexual,East Asian,None of the above,None of the above,Too long,Easy,NaN
57101,I am a student who is learning to code,"Student, full-time",China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Friend or family member;Online Courses or Cert...,3,NaN,...,18-24 years old,Man,Yes,Gay or Lesbian,East Asian,None of the above,None of the above,Too long,Easy,NaN
57620,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,Books / Physical media,5,Less than 1 year,...,25-34 years old,Man,Yes,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too short,Easy,NaN
58086,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Books / Physical media,1,24,...,18-24 years old,Man,Yes,NaN,Prefer not to say,None of the above,None of the above,Too long,Difficult,NaN
58694,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,55 - 64 years,Books / Physical media,50,49,...,Under 18 years old,Woman,Yes,NaN,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,NaN
64324,I am a developer by profession,Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",25 - 34 years,Online Courses or Certification,NaN,NaN,...,25-34 years old,Man,Yes,Bisexual,East Asian,I am deaf / hard of hearing,I have an anxiety disorder,Appropriate in length,NaN,NaN
64385,I am a developer by profession,Employed full-time,China,NaN,NaN,Some college/university study without earning ...,18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,4,4,...,25-34 years old,Prefer not to say,Yes,Straight / Heterosexual,East Asian,None of the above,None of the above,Too long,Easy,NaN
67508,I am a developer by profession,Employed full-time,China,NaN,NaN,Some college/university study without earning ...,5 - 10 years,Online Courses or Certification;Books / Physic...,7,5,...,25-34 years old,Man,Yes,NaN,East Asian,I am deaf / hard of hearing,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,NaN,NaN
69150,I am a student who is learning to code,"Student, part-time",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,6,NaN,...,18-24 years old,Man,Yes,Straight / Heterosexual,East Asian,None of the above,Prefer not to say,Too long,Neither easy nor difficult,NaN
70347,I am a student who is learning to code,"Student, full-time",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Younger than 5 years,School,6,NaN,...,18-24 years old,Prefer not to say,Yes,Prefer not to say,East Asian,None of the above,I have an anxiety disorder,Too short,Neither easy nor difficult,NaN
70464,I am a developer by profession,"Not employed, and not looking for work",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,Online Courses or Certification,6,NaN,...,25-34 years old,Man,Yes,Straight / Heterosexual,East Asian,I am unable to / find it difficult to type,NaN,NaN,Difficult,NaN
70777,I am a developer by profession,Employed full-time,China,NaN,NaN,"Professional degree (JD, MD, etc.)",5 - 10 years,Colleague,6,6,...,Under 18 years old,Man;Woman,Yes,Bisexual,Biracial,I am deaf / hard of hearing,I have a mood or emotional disorder (e.g. depr...,Too short,NaN,NaN
70931,I code primarily as a hobby,"Student, part-time",China,NaN,NaN,Primary/elementary school,18 - 24 years,School,20,NaN,...,18-24 years old,Man,Yes,Queer,"Indigenous (such as Native American, Pacific I...",I am unable to / find it difficult to walk or ...,I have autism / an autism spectrum disorder (e...,Too short,Neither easy nor difficult,NaN
72314,I am a developer by profession,Employed full-time,China,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Online Forum;Books / Physical media,18,40,...,Under 18 years old,"Man;Or, in your own words:",Yes,Bisexual,"Indigenous (such as Native American, Pacific I...",I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too long,Difficult,NaN
72459,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,18 - 24 years,"Other online resources (ex: videos, blogs, etc...",4,3,...,25-34 years old,Man,Yes,Straight / Heterosexual,East Asian,None of the above,None of the above,Too short,Neither easy nor difficult,22296.0
72520,I am a developer by profession,"Student, full-time",China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,Books / Physical media,5,NaN,...,18-24 years old,Man,Yes,Straight / Heterosexual,I don't know,None of the above,None of the above,Too short,Neither easy nor difficult,NaN
72563,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,5 - 10 years,Friend or family member,17,2,...,Under 18 years old,Man,Yes,Straight / Heterosexual;Bisexual,White or of European descent;Hispanic or Latin...,Prefer not to say,I have a mood or emotional disorder (e.g. depr...,Too short,Easy,NaN
75261,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,NaN,NaN,...,25-34 years old,Man,Yes,Gay or Lesbian,Hispanic or Latino/a/x,I am deaf / hard of hearing,I have a mood or emotional disorder (e.g. depr...,Too short,Neither easy nor difficult,NaN
76126,I am a developer by profession,Employed part-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Younger than 5 years,School;Books / Physical media,2,Less than 1 year,...,18-24 years old,Man,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,NaN,NaN
79010,I code primarily as a hobby,Employed part-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",Younger than 5 years,"Other online resources (ex: videos, blogs, etc...",Less than 1 year,NaN,...,18-24 years old,Man,Yes,Straight / Heterosexual,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
79366,None of these,"Student, part-time",China,NaN,NaN,Something else,11 - 17 years,School,15,NaN,...,18-24 years old,Woman,Yes,Bisexual,East Asian,I am deaf / hard of hearing,None of the above,Too short,NaN,NaN
80640,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Online Forum;Online Courses or Certification,15,5,...,25-34 years old,Man,Yes,Queer,Multiracial,None of the above,None of the above,Too long,Easy,NaN
82356,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",5 - 10 years,Coding Bootcamp,9,5,...,25-34 years old,Man,Yes,Prefer not to say,Southeast Asian,I am unable to / find it difficult to type,I have an anxiety disorder,Too short,Easy,NaN
82599,None of these,"Student, part-time",China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,NaN,NaN,...,Under 18 years old,Prefer not to say,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,NaN

In [145]:
stack['Trans'].map({'Yes':'True','No':'False'})

ResponseId
1        False
2        False
3        False
4        False
5        False
         ...
83435    False
83436    False
83437    False
83438    False
83439    False
Name: Trans, Length: 83439, dtype: object

In [165]:
stack.sort_values(by='Country', inplace=True)

In [173]:
stack.head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
37432,I am a student who is learning to code,"Student, part-time",Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Younger than 5 years,Books / Physical media,NaN,NaN,...,Under 18 years old,"Or, in your own words:","Or, in your own words:",Straight / Heterosexual;Bisexual;Prefer to sel...,White or of European descent;I don't know;Mult...,"Or, in your own words:","Or, in your own words:",Too long,Difficult,NaN
11462,I am a developer by profession,"Not employed, but looking for work",Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN
67131,I am a developer by profession,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
stack['ConvertedCompYearly'].mean()

118426.15289044488

In [172]:
stack['ConvertedCompYearly'].median()

56211.0

In [174]:
stack.dropna()

Empty DataFrame
Columns: [MainBranch, Employment, Country, US_State, UK_Country, EdLevel, Age1stCode, LearnCode, YearsCode, YearsCodePro, DevType, OrgSize, Currency, CompTotal, CompFreq, LanguageHaveWorkedWith, LanguageWantToWorkWith, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, OpSys, NEWStuck, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOComm, NEWOtherComms, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, SurveyLength, SurveyEase, ConvertedCompYearly]
Index: []

[0 rows x 47 columns]

In [175]:
stack.dropna(axis=1)

                                                   MainBranch      Country
ResponseId
37432                  I am a student who is learning to code  Afghanistan
11462                          I am a developer by profession  Afghanistan
67131                          I am a developer by profession  Afghanistan
62971       I am not primarily a developer, but I write co...  Afghanistan
14883                          I am a developer by profession  Afghanistan
...                                                       ...          ...
13195                          I am a developer by profession     Zimbabwe
80997                             I code primarily as a hobby     Zimbabwe
73742                          I am a developer by profession     Zimbabwe
73193                          I am a developer by profession     Zimbabwe
38429                          I am a developer by profession     Zimbabwe

[83439 rows x 2 columns]

In [176]:
stack.dropna(axis=0)

Empty DataFrame
Columns: [MainBranch, Employment, Country, US_State, UK_Country, EdLevel, Age1stCode, LearnCode, YearsCode, YearsCodePro, DevType, OrgSize, Currency, CompTotal, CompFreq, LanguageHaveWorkedWith, LanguageWantToWorkWith, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, OpSys, NEWStuck, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOComm, NEWOtherComms, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, SurveyLength, SurveyEase, ConvertedCompYearly]
Index: []

[0 rows x 47 columns]